---
export interface Props {
  media: string;
  title: string;
}
const { media, title } = Astro.props;
---

<h2 class="title-text blue">{title}</h2>
<slot />
<div class="frame_container">
  <iframe
    class="has-ratio"
    src={media}
    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen=""
    height="100%"
    width="100%"></iframe>
</div>

<style>
  .frame_container {
    height: 100%;
    width: 80%;
    margin: auto;
  }
</style>
