---
export interface Props {
  title: string;
  subtitle: string;
  img1: string;
  img2?: string;
}
const { title, subtitle, img1, img2 } = Astro.props;
---

<h2 class="title-text blue">{title}</h2>
<p class="has-text-centered">{subtitle}</p>
<div class="images">
    <img src={img1} alt="" />
    <img src={img2} alt="" />
</div>
<div class="has-text-centered">
  <slot />
</div>

<style>
  .images{
    justify-content: center;
    display: flex;
    position: relative;
    flex-wrap: wrap;  
    gap: 10px;
    height: 375px;
  }
  .images > img {
    display: flex;
    object-fit: cover;
    height: 100%;
  }
</style>
