---
import "bulma/css/bulma.min.css";
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <slot />
  <br />
  <div class="is-flex">
    <a
      class="button blue-background-hoover blue-background has-text-centered"
      style="background-color: #150f59; color:#fff; margin:auto"
      href="/proyectos">Regresar</a
    >
  </div>
  <br />
</Layout>
